asgiref==3.8.1
Django==4.2.11
django-cors-headers==4.3.1
docx2txt==0.9
ffmpeg-python==0.2.0
future==1.0.0
libusb1==3.3.1
natsort==8.4.0
psutil==6.0.0
py-slippi==1.6.2
py-ubjson==0.16.1
pycryptodome==3.23.0
slp2mp4 @ git+https://github.com/davisdude/slp2mp4@2d361ae6afe58e456b67cb603714fbd4e80f4b7e
sqlparse==0.4.4
termcolor==2.4.0
typing_extensions==4.10.0
tzdata==2024.1
unisoc_unlock==0.0.2
yt-dlp==2025.6.9
